<nav class="navbar">  
    <div class="navbar-logo">
    <a href="#" class="menu-logo">
     <h1 id="logo">tech news</h1>
    </a>
    </div>


    <!-- menu items -->
    <div class="link-container">
      <ul class ="navbar-links">
        <li>
          <a href="">Trends</a>
        </li>
        <li>
          <a href="">Software</a>
        </li>
        <li>
          <a href="my-news">My News</a>
          
        </li>
        <li>
          <a href="">About us</a>
        </li>
      </ul>
    </div>
    <div class="nav-aside-container">
      <ul>
        <li>
          @if(!username){
              <button (click)="openModal()">Sign up</button>
              <app-sing-in [isOpen]="isModalOpen" (modalClosed)="closeModal()"></app-sing-in>
              <!--When complete, basic functionality we need to make a button y form in case the user already have an account-->
          }
          @else{
            {{username}} <!-- Here implement login component modal, main idea is desplegate a combo with view profile and a button to logOut-->
          } 
        </li>
      </ul>
    </div>
 
    
  </nav>
