<nav class="navbar">
  <div class="menu-button">
    <label for="burger" class="burger">
      <input
        id="burger"
        type="checkbox"
        [checked]="isMenuOpen"
        (change)="toggleMenu()"
      />
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div class="navbar-logo">
    <a href="#" class="menu-logo">
      <h1 id="logo">tech news</h1>
    </a>
  </div>

  <div class="overlay" [class.active]="isMenuOpen" (click)="closeMenu()"></div>
  <!-- menu items -->
  <div class="menu-container" [class.active]="isMenuOpen">
    <div class="link-container">
      <ul class="navbar-links">
        <li>
          <a (click)="handleMyNewsClick($event)" class="click-modal-error">My News</a>
          @if (showErrorModal) {
            <app-error-modal
              [isOpen]="true"
              [message]="'Please log in or sign up to access your news'"
              (modalClosed)="onErrorModalClosed()">
            </app-error-modal>
          }
        </li>
        <li>
          <app-category-dropdown />
        </li>
        <!-- <li>
          <a href="">About us</a>
        </li> -->
      </ul>
    </div>
  </div>
  <div class="nav-aside-container">
    <ul>
      <li>
        <div class="log-button-container">
          @if(!username){
            <button (click)="openLoginModal()" class="login-button">Log in</button>
            <app-log-in [isOpenL]="isLoginModalOpen" (modalClosed)="closeLoginModal()"></app-log-in>

            <button (click)="openSigninModal()" class="singup-button">Sign up</button>
            <app-sing-in [isOpen]="isSigninModalOpen" (modalClosed)="closeSigninModal()"></app-sing-in>
            <!--When complete basic functionality we need to make a button y form in case the user already have an account-->
          }
          @else{
            <button (click)="logout()">Logout</button>
          } 
        </div>
      </li>
    </ul>
  </div>
</nav>