<nav class="navbar">  
    <div class="navbar-logo">
    <a href="#" class="menu-logo">
     <h1 id="logo">tech news</h1>
    </a>
    </div>


    <!-- menu items -->
    <div class="link-container">
      <ul class ="navbar-links">
        <li>
          <a href="">Trends</a>
        </li>
        <li>
          <a href="">Software</a>
        </li>
        <li>
          <a href="my-news">My News</a>
          
        </li>
        <li>
          <a href="">About us</a>
        </li>
      </ul>
    </div>
    <div class="nav-aside-container">
      <ul>
        <li>
          <div class="button-container">
            @if(!username){
              <button (click)="openLoginModal()" class="login-button">Log in</button>
              <app-log-in [isOpenL]="isLoginModalOpen" (modalClosed)="closeLoginModal()"></app-log-in>
  
              <button (click)="openSigninModal()" class="singup-button">Sign up</button>
              <app-sing-in [isOpen]="isSigninModalOpen" (modalClosed)="closeSigninModal()"></app-sing-in>
              <!--When complete basic functionality we need to make a button y form in case the user already have an account-->
            }
            @else{
              <button (click)="logout()">Logout</button>
            } 
          </div>
        </li>
      </ul>
    </div>
    
  </nav>
