@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.navbar {
  top: 0;
  width: 100%;
  height: 14%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5% 5%;
  background-color: #ffffff;
  position: fixed;
  overflow: hidden;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100%;
}

.menu-logo {
  align-items: center;
  text-decoration: none;
}

#logo {
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  color: #2e2e2e;
}

.link-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  font-size: 15px;
  padding: 20px;
  list-style-type: none;
}

li:hover {
  text-decoration: underline;
  list-style-type: none;
}

.nav-aside-container {
  height: 100%;
  width: 30%;
  justify-self: right;
  margin-right: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #2e2e2e;
}

.menu-button {
  display: none;
  cursor: pointer;
  z-index: 1000;
}

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-50%);
}

.burger input:checked ~ span:nth-of-type(1) {
  top: 0;
  left: 5px;
  transform: rotate(405deg);
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  top: 28px;
  left: 5px;
  transform: rotate(-405deg);
}

@media screen and (max-width: 768px) {
  .menu-button {
    left: 3%;
    position: left;
    display: inline;
    justify-content: center;
    margin: 5%;
  }

  .menu-container {
    position: fixed;
    left: -300px; /* Inicialmente oculto */
    top: 0;
    height: 100vh;
    width: 300px;
    background-color: #f3f3f3;
    transition: left 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .menu-container.active {
    left: 0;
  }

  .link-container {
    overflow: hidden;
    height: auto;
    flex-direction: column;
    padding-top: 100px;
  }

  ul {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  li {
    width: 100%;
    text-align: left;
    padding: 15px 30px;
  }

  li:hover {
    background-color: #e5e5e5;
  }

  .nav-aside-container a:hover {
    text-decoration: underline;
  }

  .navbar-logo {
    margin: 0 auto; /* Centra el logo */
  }

  .overlay.active {
    background-color: #e5e5e53a;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
  } 
}

.log-button-container {
  white-space: nowrap; 
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

button {
  padding: 6px 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  background-color: transparent;
  color: #adb5bd;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: #333;
  border-color: rgba(255, 255, 255, 0.3);
}

.click-modal-error{
  cursor: pointer;
}
/* Overlay para cuando el menú está abierto */