.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
}

.card {
  width: 70%;
  height: 276px;
  background-color: rgb(255, 255, 255);
  border-radius: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .image-container {
  width: 340px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  margin: 3%;
  float: left;
}

.card .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-content {
  width: 50%;
  height: 65%;
  float: right;
  overflow: hidden;
}

.card-content .title-container {
  width: 80%;
  height: 90%;
}

.card-content .title-container p.title {
  font-size: larger;
  text-decoration: none;
  color: #2e2e2e;
}

.card-content .title-container p.title:hover {
  text-decoration: underline;
}

.card-content p.subtitle {
  color: rgb(77, 77, 72);
  font-size: 17px;
  height: 20%;
  width: 80%;
}

.icon-not-fav {
  margin-right: 20px;
  float: right;
  color: rgb(221, 221, 221);
}

.icon-fav {
  margin-right: 20px;
  float: right;
  color: rgb(44, 44, 44);
}

.icon-not-fav:hover {
  color: #8a8a8a;
}
