.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
}

.card {
  width: 70%;
  height: 276px;
  background-color: rgba(240, 248, 255, 0.622);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card:hover {
  box-shadow: 5px 5px 10px 2px#2e2e2e3f;
}
.card .image-container {
  width: 340px;
  height: 200px;
  border-radius: 9px;
  overflow: hidden;
  margin: 3%;
  float: left;
}

.card .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-container img:hover {
  filter: brightness(70%);
}
.card-content {
  width: 50%;
  height: 65%;
  float: right;
  overflow: hidden;
}

.card-content .title-container {
  width: 80%;
  height: 90%;
}

.card-content .title-container p.title {
  font-size: larger;
  text-decoration: none;
  color: #121212;
}

.card-content .title-container p.title:hover {
  text-decoration: underline;
}

.card-content p.subtitle {
  color: rgb(39, 39, 38);
  font-size: 17px;
  height: 20%;
  width: 80%;
}

.icon-not-fav {
  margin-right: 20px;
  float: right;
  color: rgb(139, 139, 139);
}

.icon-fav {
  margin-right: 20px;
  float: right;
  color: rgb(0, 0, 0);
}

.icon-not-fav:hover {
  color: #202020;
}
