.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
  padding: 0px;
}

.card {
  width: 80%;
  height: 276px;
  background-color: rgba(240, 248, 255, 0.622);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  box-shadow: 5px 5px 10px 2px#2e2e2e3f;
}

.card .image-container {
  width: auto;
  height: 100%;
  overflow: hidden;
  float: left;
  cursor: pointer;
  margin-right: 3%;
}

.card .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  width: 90%;
  height: 60%;
  float: right;
  overflow: hidden;
  display: block;
  margin: 6%;
  padding: 0%;
}

.icon-not-fav {
  margin-top: 20px;
  float: right;
  color: rgb(139, 139, 139);
  display: inline;
  cursor: pointer;
}

.icon-fav {
  margin-top: 20px;
  float: right;
  color: rgb(0, 0, 0);
  display: inline;
  cursor: pointer;
}

.icon-not-fav:hover {
  color: #202020;
  cursor: pointer;
}

.icon-fav:hover {
  color: #585858;
  cursor: pointer;
}

@media screen and (max-width: 968px) {
  .card {
    width: 80%;
    height: auto;
    flex-direction: column;
    padding: 20px;
  }

  .card .image-container {
    width: 100%;
    height: 200px;
    float: none;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .card-content {
    display: flexbox;
    width: 100%;
    height: auto;
    float: none;
    margin: 0;
  }

  .card-content .title-container {
    height: auto;
    max-height: 200px;
    margin-bottom: 15px;
  }
  .fav-button {
    width: 100%;
    display: block;
  }
  .icon-not-fav,
  .icon-fav {
    margin-right: 10px;
    float: right;
    display: inline;
  }
}
