.example-card {
    max-width: 300px;
}

.subtitle-icon-container{
  height: 15px;
  margin: 10px 0 18px 0;
}

.subtitle{
  display: inline;
  margin-top: 10px;
  margin-bottom: 5px;
}

.icon-not-fav{
  float: right;
  color: black;
}

.icon-fav{
  float: right;
  color: yellow;
}

.icon-not-fav:hover{
  color: #ff5722;
}

.icon-fav:hover{
  color: #ff5722;
}

.title{
  color: inherit;
  text-decoration: none;
}

.title:hover{
  text-decoration: underline;
}