<div class="card-container">
  <div class="card">
    <div class="image-container">
      <img src="{{ article.urlToImage }}" alt="{{ article.title }}" />
    </div>
    <div class="card-content">
      <p class="subtitle">{{ article.source.name }}</p>
      @if (article.isFavorite) {
      <mat-icon class="icon-fav" (click)="handleFavClick(article)"
        >bookmark</mat-icon
      >
      } @else{
      <mat-icon class="icon-not-fav" (click)="handleFavClick(article)"
        >bookmark</mat-icon
      >
      }
      <div class="title-container">
        <a class="title" (click)="onNavigate()">{{ article.title }}</a>
      </div>
    </div>
  </div>
</div>
